.side
  .side-header
    .side-header-box
      %h3.side-header__name
        = current_user.name
      %ul.side-header__lists
        %li.list
          = link_to new_group_path do
            = icon('fa', 'edit',class: 'icon')
        %li.list
          = link_to edit_user_path(current_user.id) do
            = icon('fa', 'cog',class: 'icon')

  .side-groups
    - current_user.groups.each do |group|
      .side-groups__group
        = link_to '#' do
          .group__name
            = group.name
          .side-groups__latest-message
            まだメッセージがありません